<!DOCTYPE html>
<html>
    <head>

        <script>
            function sendFunction() {
                const valueChatroom = document.getElementById('chatroom').value;
                const valueClient = document.getElementById('client').value;
                window.location.href = "http://localhost:4000/api/participate/" + valueChatroom + "/" + valueClient;
            }
        </script>

    </head>
    <body>
        <h3>Chatroom</h3>
        <input id="chatroom" type="text" name="chatroom">
        <h3>Client</h3>
        <input id="client" type="text" name="client">
        <button onclick="sendFunction()">Send</button>

    </body>
</html>
